<div class="d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="m-2">
        <div class="spinner-border ms-auto text-primary" role="status" aria-hidden="true"></div>
    </div>
</div>

@code
{
  protected override async Task OnInitializedAsync()
  {
  }
}