@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<PageTitle>CryptoManager</PageTitle>

<div class="page">
    <div>
        <NavBar></NavBar>
    </div>
    <div class="d-flex flex-column w-100">
        <div>
            <AppVersion></AppVersion>
        </div>
        <div>
            <OfflineMode></OfflineMode>
        </div>
        <main>
            <article>
                @Body
            </article>
        </main>
    </div>
    
</div>