@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<PageTitle>CryptoManager</PageTitle>

<div class="page">
    <div>
        <NavBar></NavBar>
    </div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>