.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
    padding: 14px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background-color: aqua
}

